# Dependencies
node_modules/

# Next.js build
.next/
out/

# Database (will be created on server)
prisma/dev.db
prisma/dev.db-journal

# Blockchain data (will be created on server)
blockchain/chain.json

# Environment variables (contains secrets)
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
